
  <div class="mt-16">
    <h2 class="mb-8 text-3xl font-bold">Cast</h2>

    <div class="flex gap-6 overflow-x-auto pb-4">
      @for (cast of movieCrediates(); track cast.id) {
        <div class="min-w-[110px] text-center">
          <img
            [src]="'https://image.tmdb.org/t/p/w185' + cast.profile_path"
            [alt]="cast.name"
            class="mx-auto h-24 w-24 rounded-full object-cover ring-2 ring-zinc-700"
          />

          <h3 class="mt-4 text-sm font-medium">
            {{ cast.name }}
          </h3>

          <p class="mt-1 text-xs text-zinc-400">
            {{ cast.character }}
          </p>
        </div>
      }
    </div>
  </div>